.pageContainer :global(.fillter) {
  padding: 16px 0;
  position: relative;
}

.pageContainer :global(.fillter .fillter-title) {
  padding: 0 0 10px 0;
  font-size: 14px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.85);
}

.pageContainer :global(.fillter .fillter-operate) {
  position: absolute;
  right: 0;
  bottom: 16px;
}

.pageContainer :global(.ant-table) {
  font-size: 14px;
}

.pageContainer :global(.ant-table .ant-table-thead > tr > th) {
  border-bottom: 2px solid #e1e6f0;
  background-color: transparent;
  padding-left: 0;
}

.pageContainer :global(.ant-table .ant-table-tbody > tr > td) {
  padding-left: 0;
}

.pageContainer :global(.fullPagination) {
  padding: 16px 0;
  text-align: center;
}

.pageContainer :global(.fullPagination .ant-pagination) {
  display: inline-block;
  vertical-align: top;
}

/* 头部 
.tableSpecHeader {
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

:global(.submenu-has.mainmenu-fold) .tableSpecHeader {
  left: 280px;
}

:global(.submenu-has.mainmenu-unfold) .tableSpecHeader {
  left: 360px;
}

:global(.submenu-not.mainmenu-fold) .tableSpecHeader {
  left: 96px;
}

:global(.submenu-not.mainmenu-unfold) .tableSpecHeader {
  left: 176px;
}
*/
.tableSpecHeader:after {
  content: '';
  display: block;
  clear: both;
}

.tableSpecHeader :global(.search) {
  float: left;
  height: 44px;
  line-height: 44px;
  margin: 10px 0 0 0;
  background: #f5f5f5;
  border-radius: 2px;
  padding: 0 7px 0 9px;
}

.tableSpecHeader :global(.ant-select) {
  font-size: 14px;
  vertical-align: top;
  margin-top: 8px;
}

.tableSpecHeader :global(.ant-select-selection__rendered) {
  line-height: 28px;
}

.tableSpecHeader :global(.ant-input) {
  font-size: 14px;
  border: none;
  vertical-align: top;
  margin-top: 7px;
  background-color: transparent;
}

.tableSpecHeader :global(.ant-input:focus) {
  box-shadow: none;
}

.tableSpecHeader :global(.ant-select-selection) {
  border: none;
  background-color: transparent;
}

.tableSpecHeader :global(.ant-select-selection:focus) {
  box-shadow: none;
}

.tableSpecHeader :global(.operate) {
  float: left;
  color: @primary-color;
  font-size: 15px;
}

.tableSpecHeader :global(.pagination) {
  float: right;
  padding: 0 27px 0 0;
}

.tableSpecHeader :global(.pagination .ant-pagination ) {
  float: left;
}

.tableSpecHeader :global(.pagination li) {
  vertical-align: top;
  margin-top: 17px;
  height: 29px;
}

.tableSpecHeader :global(.pagination .ant-pagination .ant-pagination-item) {
  display: none;
}

.tableSpecHeader :global(.pagination .ant-pagination .ant-pagination-prev) {
  margin-right: -1px;
  border-radius: @border-radius-base 0 0 @border-radius-base; 
  min-width: 36px;
  background-color: transparent;
  background-image: linear-gradient(to bottom,#f5f5f5,#f1f1f1);
}

.tableSpecHeader :global(.pagination .ant-pagination .ant-pagination-prev:hover) {
  position: relative;
  z-index: 1;
}

.tableSpecHeader :global(.pagination .ant-pagination .ant-pagination-prev a) {
  display: block;
  height: 27px;
  background: url(../assets/tablePrev.png) 50% 50% no-repeat;
  opacity: .55;
}

.tableSpecHeader :global(.pagination .ant-pagination .ant-pagination-disabled a) {
  opacity: .333;
}

.tableSpecHeader :global(.pagination .ant-pagination .ant-pagination-prev a:after) {
  content: '';
}

.tableSpecHeader :global(.pagination .ant-pagination .ant-pagination-next) {
  border-radius: 0 @border-radius-base @border-radius-base 0; 
  min-width: 36px;
  background-color: transparent;
  background-image: linear-gradient(to bottom,#f5f5f5,#f1f1f1);
}

.tableSpecHeader :global(.pagination .ant-pagination .ant-pagination-next a) {
  display: block;
  height: 27px;
  background: url(../assets/tableNext.png) 50% 50% no-repeat;
  opacity: .55;
}

.tableSpecHeader :global(.pagination .ant-pagination .ant-pagination-next a:after) {
  content: '';
}

.tableSpecHeader :global(.pagination .tableSet) {
  vertical-align: top;
  height: 29px;
  margin-top: 17px;
  min-width: 54px;
  background-color: transparent;
  background-image: linear-gradient(to bottom,#f5f5f5,#f1f1f1);
}

.tableSpecHeader :global(.pagination .tableSetIcon) {
  display: inline-block;
  vertical-align: top;
  width: 21px;
  height: 21px;
  background: url(../assets/tableSet.png) 50% 50% no-repeat;
  opacity: 0.55;
}

.tableSpecHeader :global(.pagination .anticon) {
  vertical-align: top;
  margin-top: 5px;
}

/* 滚动容器 */
.scrollContainer {
  overflow-y: auto;
  padding: 0 10px 0 16px;
}

